.imagebin-form {
    @apply flex flex-grow flex-col;
    form {
        @apply flex flex-grow flex-col mx-4;
        & > footer {
            @apply flex flex-none justify-between py-4 items-center;
            div:first-of-type {
                @apply flex items-center space-x-2;
                button {
                    @apply inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium
                    rounded text-gray-50 bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2
                    focus:ring-offset-2 focus:ring-indigo-500 focus:ring-offset-gray-800;
                }

                a {
                    @apply inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium
                    rounded text-gray-50 bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2
                    focus:ring-offset-2 focus:ring-gray-500 focus:ring-offset-gray-800;
                }
            }

            div:last-of-type {
                @apply text-gray-500 flex space-x-2;
                & > span {
                }

                label {
                    @apply cursor-pointer hover:underline;
                    &.active {
                        @apply text-gray-300 cursor-default hover:no-underline;
                    }

                    input[type="radio"] {
                        @apply hidden;
                    }
                }
            }
        }
    }
}

.imagebin-view {
    @apply flex flex-grow bg-neutral-900 mx-4 bg-neutral-900 border border-gray-700 rounded py-2 px-3 h-0 justify-center;
    & > img {
        @apply object-scale-down;
    }
}

.imagebin-footer {
    @apply flex flex-none justify-between px-4;
    div {
        @apply flex space-x-2 py-4;
        a {
            @apply inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded
            text-gray-50 bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-gray-500 focus:ring-offset-gray-800
        }
    }
}
